.Home {
  background-image: url("../assets/HomePageBackground.jpg");
}

.homepage__biggest__p {
  font-family: bellefair;
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 172px;
  color: #ffffff;
}

.homepage__bigger__p {
  font-family: barlow;
}
