.moon {
  background-image: url("..//assets/DestinationBackground.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.moon__image {
  background-image: url("..//assets/Moon.png");
  background-repeat: no-repeat;
  width: 445px;
  height: 445px;
}

.moon__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.moon__right__side {
  width: 445px;
  height: 472px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 338px;
}

.moon__right__side__title {
  font-family: "Bellefair", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 115px;
  color: #ffffff;
  padding: 14px 0px;
}

.moon__right__side__content {
  color: #d0d6f9;
  font-family: "Barlow", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

.moon__travel__infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: #383b4b solid 1px;
  margin-top: 10px;
  color: #d0d6f9;
}

.moon__travel__infos h2 {
  color: #d0d6f9;
  font-family: "Barlow", serif;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2.3625px;
  text-transform: uppercase;
  margin: 28px 0 12px 0;
}

.moon__travel__infos p {
  color: #ffffff;
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  text-transform: uppercase;
}

.destinations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 0;
}

.moon__left__side__title {
  display: flex;
  flex-direction: row;
}

.moon__left__side__title h2 {
  font-family: "Barlow", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  mix-blend-mode: normal;
  color: #ffffff;
  opacity: 0.25;
}

.moon__left__side__title h3 {
  font-family: "Barlow", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  text-transform: uppercase;
  color: #ffffff;
}
