.navbar__logo__oval {
  height: 48px;
  width: 48px;
  margin: 55px 64px;
  border-radius: 50%;
  background-color: white;
  background-image: url("/assets/Star.png");
}

.navbar {
  display: flex;
  flex-direction: row;
}

.navbar__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
  width: 830px;
  height: 96px;
  margin-top: 40px;
  margin-left: 47.6%;
}
.navbar__item {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar__line {
  height: 1px;
  width: 803px;
  position: absolute;
  background-color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.25;
  margin: 30px -500px 0 15%;
  z-index: 2;
}

.navbar__titles {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7;
  color: #ffffff;
  text-decoration: none;
}

.navbar__numbers {
  font-family: "Bellefair", serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7;
  color: #ffffff;
}
